<div class="d-flex flex-row">
  <div class="btn btn-primary m-2" (click)="startPolling()">
    Start polling services
  </div>
  <div class="btn btn-primary m-2" (click)="startClock()">
    Start world clock
  </div>
  <div class="btn btn-primary m-2" (click)="stopClock()">
    Stop world clock
  </div>
  <div class="btn btn-primary m-2" (click)="seedPeople(200)">
    Seed World
  </div>
</div>
<div class="d-flex flex-row">
  <div class="form-label text-secondary">Current world time</div>
  <div class="pl-2 form-label text-white">{{ currentDate$ | async }}</div>
</div>
<div class="d-flex flex-row">
  <div class="form-label text-secondary">All people who ever existed</div>
  <div class="pl-2 form-label text-white">{{ allEverCount$ | async }}</div>
</div>
<div class="d-flex flex-row">
  <div class="form-label text-secondary">All alive people</div>
  <div class="pl-2 form-label text-white">{{ aliveCount$ | async }}</div>
</div>
<div class="d-flex flex-row">
  <div class="form-label text-secondary">All dead people</div>
  <div class="pl-2 form-label text-white">{{ deathCount$ | async }}</div>
</div>
<div class="d-flex flex-row">
  <div class="form-label text-secondary">All people with mates</div>
  <div class="pl-2 form-label text-white">{{ mateCount$ | async }}</div>
</div>
<div class="d-flex flex-row">
  <div class="form-label text-secondary">All people in world</div>
  <div class="pl-2 form-label text-white">{{ worldPeopleCount$ | async }}</div>
</div>
