<div class="d-flex flex-row">
  <div class="btn btn-primary m-2" (click)="startPolling()">
    Start polling services
  </div>
  <div class="btn btn-primary m-2" (click)="startClock()">
    Start world clock
  </div>
  <div class="btn btn-primary m-2" (click)="stopClock()">
    Stop world clock
  </div>
  <div class="btn btn-primary m-2" (click)="seedPeople(200)">
    Seed World
  </div>
</div>

<div class="d-flex flex-row">
  <div class="form-label text-secondary">Current world time</div>
  <div class="pl-2 form-label text-white">{{ currentDate$ | async }}</div>
</div>


<div class="container-fluid">
  <div class="d-flex flex-row charts">
    <div class="col-4">
      <ngx-charts-gauge [scheme]="colorScheme" [results]="data1$ | async" [legend]="legend" (select)="onSelect($event)"
        (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
      </ngx-charts-gauge>
    </div>
    <div class="col-4">
      <ngx-charts-advanced-pie-chart [scheme]="colorScheme" [results]="data2$ | async" [gradient]="gradient"
        (select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
      </ngx-charts-advanced-pie-chart>
    </div>
    <div class="col-4">
      <ngx-charts-advanced-pie-chart [scheme]="colorScheme" [results]="data3$ | async" [gradient]="gradient"
        (select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
      </ngx-charts-advanced-pie-chart>
    </div>
  </div>
  <div class="d-flex flex-row charts">
    <ngx-charts-line-chart [scheme]="colorScheme" [legend]="legend" [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis" [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel" [timeline]="timeline" [results]="data4$ | async" (select)="onSelect($event)"
      (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
    </ngx-charts-line-chart>
  </div>
</div>
