<div class="container-fluid bg-dark">
  <div class="d-flex flex-inline justify-content-between">
    <div class="navbar-header p-2">
      <a href="/" class="navbar-brand text-success font-weight-bold">Resume App</a>
    </div>
    <div class="d-flex align-items-center">
      <li class="nav navbar-nav p-2">
        <a href="/mongo" routerLinkActive="active" class="text-success font-weight-bold">MONGO</a>
      </li>
      <li class="nav navbar-nav p-2">
        <a href="/store" routerLinkActive="active" class="text-success font-weight-bold">NGRX</a>
      </li>
      <li class="nav navbar-nav p-2">
        <a href="/readme" routerLinkActive="active" class="text-success font-weight-bold">Read Me</a>
      </li>
      <li class="nav navbar-nav p-2">
        <a href="/karma" routerLinkActive="active" class="text-success font-weight-bold">Karma</a>
      </li>
    </div>
  </div>
</div>
